/* You can add global styles to this file, and also import other style files */

a {
  cursor: pointer;
}

.pt-30 {
  padding-top: 30px;
}

.pt-10 {
  padding-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}
